@font-face {
  font-family: 'custom-iconfont';
  src: url('./iconfont.ttf') format('truetype');
}

.van-icon {
  font-family: 'vant-icon', 'custom-iconfont' !important;
}

.van-icon-down:before {
  content: '\e634';
}
.van-icon-up:before {
  content: '\e635';
}
